.one {
	height:200vh;
	background-color: #fef0d6;}

.two {overflow:auto;
width:95vw;
}

.three{
	height:1200px;
	width:100vw;
}

.four {overflow:auto;
width:95vw;
}

.front {
	float:right;
	width:30vw;
	border:rgba(51,51,51,1);
	
	}
#front5{
	height:50px;}
	
.front p {
	height:20px;
	margin:50px;}
.back {
	float:right;

	}
.three {
	
	height:700px;}

.five {
	height:700px;}
	
.front_container{
	margin-top:0;
	height:98vh;
	background-color: #f4ce92;
    z-index: 1000000; }
	 

circle:hover {
				fill:rgba(204,204,204,1);
				 cursor: pointer;
			}
.control , .control2 {
	margin-top:25vh;
	background-color:rgba(204,102,255,1);
	z-index: 10000000;
	}

body {
				margin-left:40px;
				background-color: #fef0d6;
				font-family: Helvetica, Arial, sans-serif;
			}

			h1 {
				font-size: 28px;
				margin-top:15px;
				font-family: Helvetica, Arial, sans-serif;
				color:  #5f9ea0 ;
			}

			/*path.line {
				fill: none;
				stroke: #a1a3a6;
				stroke-width: 2px;
			}*/

			.axis path,
			.axis line {
				fill: none;
				stroke: grey;
				stroke-width: 1px;
				
			}

			.axis text {
				font-family: sans-serif;
				font-size: 10px;
			}

			text.linelabel {
				font-size: 12pt;
				fill: #a1a3a6;
			}

			.overlay {
		      fill: none;
		      pointer-events: all;
		    }

		    circle, path:hover {
				cursor: pointer;
			}

			text.hidden {
				display: none;
			}

			text.bolder {
				font-weight: bolder;
			}

			.tooltip{
                position:absolute;
                z-index: 10;
            }

            .tooltip p{
                background-color: white;
                color:grey;
                border:grey 1px solid;
                padding:2px;
            }

            .rect1{
            	z-index: -1;
            }

            .circle{
            	z-index: 9;
            }
			
			table {
        border-spacing: 0px;
        font-family: 'Roboto Condensed', serif;
        font-size: 90%;
        margin: 5px;
		background-color:#fef0d6;
	
      }
     


      th, td {
	    cursor: pointer;
        padding: 5px;
        text-align: center;
		height:20px;
		width:30px;
		background-color:rgba(255,255,255,1);
		font-weight:bold;
      }
	  
      .intro{
        margin-top: 30px;
		
      }

      .wrapper{
        width: 940px;
        margin: 40px auto 40px auto;
      }

      .selected {
	background-color:rgba(51,51,51,1);}
#table {

	margin-left:5vw;
	margin-right:0px;
	float:left}
#tablezhou {
	float:left;
	width:3vw;
	margin-top:200px;}
#tablezhou p {
	margin:0 auto;
	padding:0 auto;}
			
@media screen and (min-width: 800px){
    .front_container {
        width: 350px;
        /*margin-top: 50vh;
        margin-left: 800px;*/
    }
}

@media screen and (min-width: 1500px){
    .front_container {
        width: 600px;
        margin-left: 1200px;
    }
}